<style>
body {
  color: white;
  background: url('https://dl-web.dropbox.com/get/newpic.jpg?w=b285c080') no-repeat;
  background-size: 100%;
}

#signup 
</style>

<div id=signup>
<h1>The SponsorPay Surprise Lunch!</h1>
  <%= link_to("Login with Google", "/auth/google") %>
</div>

