<style>
body {
  color: white;
  background: url('http://dl.dropbox.com/u/38475430/Surprise%20Lunch%20Pics/DSC_0211.jpg') no-repeat;
  background-size: 100%;
}

#signup 
</style>

<div id=signup>
<h1>The SponsorPay Surprise Lunch!</h1>
  <%= link_to("Login with Google", "/auth/google") %>
</div>

