<style>
body {
  color: white;
  background: url('http://dl.dropbox.com/u/59656384/newpic.jpg') no-repeat;
  background-size: 100%;
}

#signup 
</style>

<div id=signup>
<h1>The SponsorPay Surprise Lunch!</h1>
  <%= link_to("Login with Google", "/auth/google") %> <br>

  <%= link_to "View SponsorPay Gourmet Places", "http://goo.gl/maps/s0zms" %>
</div>

