<style>
body {
  color: white;
  background: url('https://dl.dropbox.com/u/89092705/small_surprise_lunch_pic.jpg') no-repeat;
  background-size: 100%;
}

#signup 
</style>

<div id=signup>
<h1>The SponsorPay Surprise Lunch!</h1>
  <%= link_to("Login with Google", "/auth/google") %>
</div>

