
<div id=pic><img width=700 src="https://dl.dropboxusercontent.com/u/59656384/SP_Logo_signature_inverted_RGB.png"></div>
<div style="padding-top: 200px; padding-left:200px">
<h1>SponsorPay Surprise Lunch</h1>
<h1>Join us for lunch on 7.08.2013</h1>
<h4>All attendees will be split into groups of five with one lunchgroupleader who organises with the group when and where to go and has to handle the company cash.</h4>
<h4>Registration closes on Monday 6pm, groups will be sent out by Tuesday morning. If you want to attend, select "yes" for participating and submit.</h4>
<h4></h4>


<%= render 'players/form' %>
</div>
  

    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
    <% end %>


<%= link_to 'Logout', '/logout', :method=>'delete' %>   

<h1>extra treat:</h1>
<h2>Our prime target customer group in the Berlin tram. The first one to skype me (d.blass-sponsorpay) the name of the game the lady is playing will receive extra ice-cream cash for his/her lunchgroup.</h2>
<div id=pic><img width=700 src="https://dl.dropboxusercontent.com/u/59656384/prime_customer.jpg"></div>
<div style="padding-bottom: 200px; padding-left:200px">
   

