
<div id=pic><img width=700 src="http://dl.dropbox.com/u/59656384/blacklogo.jpg"></div>
<div style="padding-top: 200px; padding-left:200px">
<h1>SponsorPay Surprise Lunch</h1>
<h1>Join us for the surprise lunch on 8.05.2013</h1>
<h2 >Please submit your final response by 6.05.2013 10am</h2>
  <span>Welcome! You are logged in.</span>
<%= render 'players/form' %>
</div>
  

    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
    <% end %>


     <%= link_to 'Logout', '/logout', :method=>'delete' %>   
   

