
<div id=pic><img width=700 src="https://lh3.googleusercontent.com/-qFY2uzonmR8/T6PGG39YtxI/AAAAAAAABWw/vT9_FQdjoiE/s1000/SponsorPay-104-2719.jpg"/></div>
<div style="padding-top: 200px; padding-left:100px">
<h1>The SponsorPay Surprise Lunch!</h1>
<h2 >Thank you for signing up to SponsorPay Surprise Lunch !</h2>
  <span>Welcome! You are logged in.</span>
<%= render 'players/form' %>
</div>



