<!DOCTYPE html>
<html>
<head>
  <title>SponsorPay Surprise Lunch</title>
  <link rel="stylesheet" href="http://railsgirls.com/assets/bootstrap.css">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container"><%= yield %></div>

<footer>
   <!--  <div class="container"><a class="brand" href="https://github.com/Bumbledebee/lunchroulette">Find me on Github</a> </div> -->
</footer>
</body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/"/>SponsorPay Surprise Lunch</a><ul class="nav">
              <li class="active"><% if current_user %><a href="/places">View Places</a><% end %></li>
              <li class="active"><% if current_user %><a href="/">My participation</a><% end %></li>
            </ul>
        </div>
    </div>
</div>
</html>

